<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stock Market Simulator</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"
        integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/libs/p5/p5.min.js') }}"></script> <!-- Maybe swap with CDN: https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.js -->
    <script src="{{ url_for('static', filename='/p5_sketches/example.js') }}"></script> <!-- The sketch file (canvas) used on the site. Currently an example one. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            // Initial setup of the graphs
            document.getElementsByClassName("p5canvas").forEach(element => {
                // Get companies name from 'cname'-property
                let companyName = element.getAttribute("cname");

                if (companyName != null && companyName != "")
                {
                    let h2 = document.createElement("h2");
                    element.appendChild(h2);
                    h2.innerText = companyName + " Value";
                }
            });

            socket.on('stock_prices', function (prices) {
                // Mesure time since last update
                var now = new Date();
                var time = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                
                // Update all canvases with the new values (the variables are defined in the corresponding sketch ('/app/static/p5_sketches/example.js' at the moment))
                cTechCorp._step(prices["TechCorp"])
                cHealthPlus._step(prices["HealthPlus"])
                cGreenEnergy._step(prices["GreenEnergy"])
                cFoodie._step(prices["Foodie"])
                cFashionista._step(prices["Fashionista"])
                cAutoTech._step(prices["AutoTech"])

                // Update the DOM
                document.getElementById('stockPrices').innerHTML = "Last update: " + time + "\n\n" + JSON.stringify(prices, null, 2);
                
                socket.on('random_event', function (data) {
                    console.log('Random Event:', data.message);
                    document.getElementById('randomEvents').innerHTML = data.message;
                });
            });
        });
    </script>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        canvas {
            display: block;
        }
    </style>
    <!-- bs CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <h1>Stock Market Simulator</h1>
    <pre id="stockPrices">Waiting for price updates...</pre>

    <h1>Random Events</h1>
    <pre id="randomEvents">Waiting for random events...</pre>

    <div class="canvas-container">
        <div id="cTechCorp" class="p5canvas" cname="TechCorp"></div>
        <div id="cHealthPlus" class="p5canvas" cname="HealthPlus"></div>
        <div id="cGreenEnergy" class="p5canvas" cname="GreenEnergy"></div>
        <div id="cFoodie" class="p5canvas" cname="Foodie"></div>
        <div id="cFashionista" class="p5canvas" cname="Fashionista"></div>
        <div id="cAutoTech" class="p5canvas" cname="AutoTech"></div>
    </div>
</body>

</html>